<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>clinic_no</key>
		<string>1</string>
		<key>clinic_name</key>
		<string>妇科</string>
	</dict>
	<dict>
		<key>clinic_no</key>
		<string>2</string>
		<key>clinic_name</key>
		<string>儿科</string>
	</dict>
	<dict>
		<key>clinic_no</key>
		<string>3</string>
		<key>clinic_name</key>
		<string>皮肤性病科</string>
	</dict>
	<dict>
		<key>clinic_no</key>
		<string>4</string>
		<key>clinic_name</key>
		<string>内科</string>
	</dict>
	<dict>
		<key>clinic_no</key>
		<string>5</string>
		<key>clinic_name</key>
		<string>男科</string>
	</dict>
	<dict>
		<key>clinic_no</key>
		<string>6</string>
		<key>clinic_name</key>
		<string>产科</string>
	</dict>
	<dict>
		<key>clinic_no</key>
		<string>7</string>
		<key>clinic_name</key>
		<string>外科</string>
	</dict>
	<dict>
		<key>clinic_no</key>
		<string>8</string>
		<key>clinic_name</key>
		<string>中医科</string>
	</dict>
	<dict>
		<key>clinic_no</key>
		<string>9</string>
		<key>clinic_name</key>
		<string>骨伤科</string>
	</dict>
	<dict>
		<key>clinic_no</key>
		<string>10</string>
		<key>clinic_name</key>
		<string>精神心理科</string>
	</dict>
	<dict>
		<key>clinic_no</key>
		<string>11</string>
		<key>clinic_name</key>
		<string>口腔额面科</string>
	</dict>
	<dict>
		<key>clinic_no</key>
		<string>12</string>
		<key>clinic_name</key>
		<string>眼科</string>
	</dict>
	<dict>
		<key>clinic_no</key>
		<string>13</string>
		<key>clinic_name</key>
		<string>耳鼻咽喉科</string>
	</dict>
	<dict>
		<key>clinic_no</key>
		<string>14</string>
		<key>clinic_name</key>
		<string>肿瘤及预防科</string>
	</dict>
	<dict>
		<key>clinic_no</key>
		<string>15</string>
		<key>clinic_name</key>
		<string>整形美容科</string>
	</dict>
	<dict>
		<key>clinic_no</key>
		<string>16</string>
		<key>clinic_name</key>
		<string>报告解读科</string>
	</dict>
	<dict>
		<key>clinic_no</key>
		<string>17</string>
		<key>clinic_name</key>
		<string>营养科</string>
	</dict>
	<dict>
		<key>clinic_no</key>
		<string>18</string>
		<key>clinic_name</key>
		<string>基因检测科</string>
	</dict>
</array>
</plist>
